<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>GifVJ<h1>
    </div>
    <div class="alert alert-danger">
      <strong>The page you were looking for doesn't exist.</strong>
      <p>You may have mistyped the address or the page may have moved.</p>
    </div>
  </div>
</div>
