<div class="container">
  <div id="content">
    <div class="page-header">
      <h1>GifVJ<h1>
    </div>
    <div id="form-gifs" class="form-inline">
      <% form_tag :gifs, remote: true do |f| %>
      <%= input_tag :text, name: :name %>
      <%= submit_tag :start, class: "btn" %>
      <% end %>
    </div>
    <div id="error-alert" class="alert alert-error hide">
    </div>
    <div id="gifs-progress" class="progress progress-striped active hide">
      <div class="bar" style="width: 0%"></div>
    </div>
  </div>
  <div id="canvas">
    <canvas />
  </div>
</div>
