<div class="container center">
  <div class="page-header">
    <h1>GifVJ<h1>
  </div>
  <div class="form-inline">
    <% form_tag :gifs, remote: true do |f| %>
    <%= input_tag :text, name: :name %>
    <%= submit_tag :start, class: "btn" %>
    <% end %>
  </div>
  <div class="progress progress- progress-striped active hide">
    <div class="bar" style="width: 0%"></div>
  </div>
</div>
<div class="container canvas hide">
  <canvas />
</div>
